.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 1200px;
  padding: 20px;
  color: white;
}

section{
  background-image: '../images/DTower.jpg';
}

nav{
  display: flex;
  justify-content: space-around;
  margin-left: 30rem;
  margin-right: 30rem;
}
.App-intro {
  font-size: large;
}

.mui-btn{
  background-color: linear-gradient(grey, #223A5E);

}
.mui-panel{
  background-color: black;
  height: 1200px;
}
@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
